{% extends 'base.html.twig' %}

{% block title %}Hello PackageController!{% endblock %}

{% block pageBanner %}
    <div class="row">
        <div class="col-6 mx-auto mt-3 mb-3">
            <h4>Packages</h4>
        </div>
    </div
    <div class="row">
        <input type="text" name="package_search" id="package_search" placeholder="Search for Packages" class="form-control mb-5 col-6 mx-auto">
    </div>
{% endblock %}

{% block body %}
<style>
    .card {
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);
    }

    .card-header {
        border-radius: 0.25rem 0.25rem 0 0;
        background-color: #0C405C;
        color: white;
        padding: 0.5rem;
    }

    .card-header a {
        color: white;
    }
</style>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto text-center mb-3"><h5>Most Downloaded Packages</h5></div>
        </div>
        <div class="row justify-content-around">
            {% for package in packages %}
                <div class="col-4 p-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6 class="mb-0"><a href="/package/{{package.id}}">{{ package.name }}</a></h6>
                        </div>
                        <div class="p-2">
                            <p>
                                {{ package.description|length > 150 ? package.description|slice(0, 150) ~ '…' : package.description }}
                            </p>
                            Downloads: {{ package.downloads }}<br>
                            Rating: {{ package.AvgRating }}<br>
                            <br>
                            {% if not package.developers.isEmpty() %}
                                Developers
                                <ul>
                                    {% for group in package.developers %}
                                        {% if group.getPersonalUser() is null %}
                                            {# normal group of users #}
                                            <li><a href="/group/{{ group.id }}">{{ group.name }}</a></li>
                                        {% else %}
                                            {# single user personal dev group #}
                                            <li><a href="/user/{{ group.getPersonalUser().id }}">{{ group.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
